* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 10px;
}

.title1 {
  font-size: 1.17em;
  font-weight: bold;
}

.title2 {
  font-size: 1em;
  font-weight: bold;
  margin-top: 1em;

}

details>summary {
  padding: 4px;
  width: 100%;
  margin: 2px;
  background-color: #eeeeee;
  box-shadow: 1px 1px 2px #bbbbbb;
  cursor: pointer;
}

textarea {
  padding-left: 1em;
  font-size: 1.5em;
}


.mainmenu {
  margin: 4px;
  border: 2px solid;
}

.field {
  margin-top: 8px;
  margin-bottom: 10px;
}

details>section {
  background-color: #ffffff;
  padding: 4px;
  margin: 1;
  box-shadow: 1px 1px 2px #bbbbbb;
}

.content {
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  transition: opacity 0.3s;
}

/* Стили для "отключенного" состояния */
.pain_yes:not(:checked)~.content {
  opacity: 0.5;
  /* Снижение прозрачности для визуального эффекта */
  pointer-events: none;
  /* Запрет всех событий указателя мыши (клика, наведения и т.д.) */
  cursor: not-allowed;
  /* Изменение курсора на "запрещено" */
}

/* Стили для вложенных элементов */
.pain_yes:not(:checked)~.content * {
  pointer-events: none;
  /* Принудительное отключение событий для всех дочерних элементов */
}

.contentblock {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  transition: opacity 0.3s;
}

.block_yes:not(:checked)~.contentblock {
  opacity: 0.5;
  /* Снижение прозрачности для визуального эффекта */
  pointer-events: none;
  /* Запрет всех событий указателя мыши (клика, наведения и т.д.) */
  cursor: not-allowed;
  /* Изменение курсора на "запрещено" */
}

/* Стили для вложенных элементов */
.block_yes:not(:checked)~.contentblock * {
  pointer-events: none;
  /* Принудительное отключение событий для всех дочерних элементов */
}

#mrt {
  margin-left: 3ch;
}

#rentgen,
#mrt {
  width: 55%;
  margin-bottom: 5px;
}

#qavka2 {
  margin-bottom: 2em;
}

#subdiv1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#butsub1 {
  font-size: 1.1em;
  padding: 2px 5px 2px 5px;
}